&pointing_listener {
    status = "okay";
    device = <&pointing_device>;
};

&zip_temp_layer {
    excluded-positions = <
        18 // J
        19 // K
    >;
    require-prior-idle-ms = <200>;
};

/ {
    trackball_listener: trackball_listener {
        status = "okay";
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_temp_layer 4 800>;
    };
};
